Body {
  font-family: Calibri, Helvetica, sans-serif;
  
}
button { 
       background-color: solid green; 
       width: 30%;
       color: black; 
       padding: 15px; 
       margin: 10px 0px; 
       border: none; 
       cursor: pointer; 
        } 
 form { 
        border: 3px solid ;
		width: 50%;
		background-color: lightblue; 
      } 
 input[type=text], input[type=password] { 
        width: 50%; 
        margin: 8px 0;
        padding: 12px 20px; 
        display: inline-block; 
        border: 2px black; 
        
    }
 button:hover { 
        opacity: 0.7; 
    } 
  .cancelbtn { 
        width: auto; 
        padding: 10px 18px;
        margin: 10px 5px;
    } 
      
   
 
 