.header {
    text-align: center;
    font-size: 5vh;
    background-color: maroon;
    color: white;
    padding: 2.5vh;
    margin-bottom: 3vh;

}
h2{
  background-color:#ffcccc ;
  padding: 10px 30px;
  width: auto;

}
.detail{
    border: solid maroon;
    padding: 50px;
    border-radius: 12px;
}
table {
    width: 100%;
  }
