body{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav{
    text-align: center;
    font-size: 5vh;
    background-color: maroon;
    color: white;
    padding: 2.5vh;
    margin-bottom: 3vh;
}
input{
    margin: 10px 5px 0px 5px;
}

.topnav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border: 2px solid #ccc;
  }
  
  
  .topnav a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	border: 1px solid #ccc;
	float: left;
  }
  
  .topnav a:hover:not(.active) {
	background-color: rgb(194, 194, 194);
  }
  
  .topnav a.active {
	background-color: #020202;
	color: rgb(255, 255, 255);
  }

.topnav-right a
{
	background-color: maroon;
	color: rgb(0, 0, 0);
	float:right;
}
