.header {
  overflow: hidden;
  background-color: #e1e5ea;
  padding: 10px 10px;
  width: auto;
  height: 100px;
}

.logo{
  float: left;
  width: 220px;
  height: 100px;
}

.date {
  float: right;
  width: 240px;
  height: 100px;
  color: black;
}

.sidemenu {
  height: 100%;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 1;
  left: 1;
  background-color: #ccf2f4;
  overflow: hidden;
  padding-top: 20px;
}

.sidemenu a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidemenu a:hover {
  background-color: #a4ebf3;
  color: #aaaaaa;
}

.header2 {
  overflow: hidden;
  background-color: #a4ebf3;
  padding: 10px 30px;
  width: auto;
  height: 50px;
  margin-left: 235px;
  
}

.main {
  margin-left: 260px;
}
